.pulse:hover, 
.pulse:focus {
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgb(122, 148, 137,0.4); }
  70% { box-shadow: 0 0 0 40px transparent; }
  100% { box-shadow: 0 0 0 0 transparent; }
}

tr{
  width: 100%;
}

td{
  display: flex;
  justify-content: space-between;
}

body{
  margin: 0;
}
